body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('loginbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #080707; /* Set the color of the heading text if needed */
}

.container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 44%; /* Increase the width of the container */
    max-width: 900px; /* Set a maximum width if needed */
    padding: 40px; /* Increase the padding for more space */
    background: rgba(235, 230, 230, 0.5);
    border-radius: 10px;
    color: #141313;
    box-sizing: border-box;

}

form input[type="text"],
form input[type="number"] {
    font-size: 18px;
    padding: 12px;
    margin-bottom: 12px;
}

form label {
    font-size: 20px;
    margin-bottom: 12px;
}

/* Increase the font size and spacing of the submit button */
form input[type="submit"] {
    padding: 14px 28px;
    font-size: 20px;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group input {
    flex: 1;
    margin-left: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* select {
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */
table {
    width: 100%;
}
select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
}

input[type="submit"] {
    padding: 10px 20px;
    border: 10ex;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent; 
    color: #245953; 
    border: 2px solid #245953;
}

input[type="submit"]:hover {
    background-color: #245953;
    color: white;
}
.button1 {
    background-color: transparent; 
    color: #B8621B; 
    border: 2px solid #B8621B;
  }
  
  .button1:hover {
    background-color: #B8621B;
    color: white;
  }
  
  .button2 {
    background-color: transparent; 
    color: #245953; 
    border: 2px solid #245953;
  }
  
  .button2:hover{
    background-color: #245953;
    color: white;
  }


  .button {
    border-radius: 10px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.image-container {
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    margin-bottom: 10px;
    border-radius: 10px;
}

.placebutton {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}