<!DOCTYPE html>
<html>
<head>
    <title>Knapsack Efficient Stock Packing - Pricing</title>
    <link rel="stylesheet" type="text/css" href="static/pricingpage.css">
    
    </head>
<body>
    <h1>PRICING</h1>
    <div class="container">
        <div class="pricing-table">
            <div class="pricing-card">
                <h2>Labour charge</h2>
                <p>Hire labour to assist you</p>
                <div class="price">Rs.250/person</div>
                <div class="features">
                    <ul>
                        <li>Manual support</li>
                        <li>You can chill and relax</li>
                        <li>No stress in your hands</li>
                    </ul>
                </div>
                <a href="pricelogin" class="cta-button">Book Now</a>
            </div>
            <div class="pricing-card">
                <h2>Packing</h2>
                <p>Efficient packing system</p>
                <div class="price">Rs7.00/kg</div>
                <div class="features">
                    <ul>
                        <li>Perfect selection of items</li>
                        <li>Optimized packing</li>
                        <li>Maximized profit</li>
                    </ul>
                </div>
                <a href="pricelogin" class="cta-button">Book Now</a>
            </div>
            <div class="pricing-card">
                <h2>Delivery</h2>
                <p>Fastest delivery</p>
                <div class="price">Rs.50.00</div>
                <div class="features">
                    <ul>
                        <li>Within the city</li>
                        <li>Just Rs.250.00</li>
                        <li>For beyond the city</li>
                    </ul>
                </div>
                <a href="pricelogin" class="cta-button">Book Now</a>
            </div>
        </div>
    </div>
</body>
</html>
