<!DOCTYPE html>
<html>
<head>
    <title>Knapsack Problem - Result</title>
    <link rel="stylesheet" type="text/css" href="static/stylesinput.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <h1>Knapsack Problem - Result</h1>
    <div class="container">
        <p style="font-size: 25px;">Maximum value: {{ optimal_solution }} Rupees</p>
        <p style="font-size: 25px;">Selected Products: {{ selected_products }}</p>
        <p style="font-size: 25px;">Items which are remaining: {{ not_included }}</p>
        <p style="font-size: 25px;">Would you like to pack your remaining items?</p>
       
        <a href="final1"><button class="button button1" type="submit" >Yes</button></a>
        <a href="final2"><button class="button button2" type="submit">No</button></a>

        
    </div>

   
</body>
</html>
