<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">


</head>

<body>

<style>
    body{

        font-family: 'Montserrat', sans-serif;
        font-size: xx-large;
    }

    .class{
        display:flex;
        flex-direction: row;
    }

    .text{
        width:40%;
    }

    .img{
        width:60%;
    }
</style>

<div class = 'class'>
    <div class = 'text'>
        <h1 style="color:rgb(6, 83, 165)">Support</h1>

        <p>Harish K<br>308 Negra Arroyo Lane<br>Albuquerque, New Mexico, 87104. <br> 
        <br><br>
        Hariharan <br>545 Grove street <br>
        West village,Manhattan NY</p>
        <br>
        <p>
            
    
            
            eps29623@gmail.com <br>
            Phone:9090909090
            </p>

    </div>  
    
    <div class = "img">

        <img src="static/1.gif" alt="">
    </div>

</div>    
</body>

</html>